.video-js .vjs-btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: red;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 2px 7px;
    color: #fff;
}

.video-js .vjs-div-time {
    position: absolute;
    top: 0px;
    right: 23px;
    background: red;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 3px 7px;
    color: #fff;
}